{% load static %}
{% load i18n %}
<article class="
    border border-transparent
    rounded-xl
    overflow-hidden
    bg-white
    h-full flex flex-col
    ">
    <div class="relative">
        <img src="{% static 'main/images/weeklyHoliday.jpg' %}"
        alt="{% trans "Semana de vacaciones ecuestres en Tarifa" %}"
        loading="lazy"
        class="
        h-80
        object-cover
        object-bottom
        w-full
        mb-4

        md:h-120
        md:object-center">
        <span class="
            absolute
            top-0
            p-2
            border border-(--color-poniente)
            bg-(--color-poniente)
            text-xs text-(--color-cal)
            inline-block
            font-titan
            font-bold

            md:text-fluid-body">{% trans "AVANZADOS" %}
        </span>
    </div>

    <div class="p-5 flex flex-col grow">
        <h3 class="
            font-titan font-bold
            text-(--color-tierra) text-4xl md:text-fluid-title
            inline-block
            mb-5

            md:mb-10
            ">{% trans "Weekly Holidays" %}
        </h3>
        <p class="
            text-(--color-trece)
            mb-4

            md:text-fluid-body
            md:mb-10
            ">{% trans "Para jinetes expertos. Conocerás los rincones más hermosos — las dunas, los senderos del Parque de los Alcornocales y los lugares más salvajes de nuestra naturaleza." %}
        </p>
        <div class="mt-auto">
            <hr class="border-(--color-trece) mb-4 md:mb-10">
            <div class="flex items-center justify-between mb-5 md:mb-10">
                <div class="flex justify-start">
                    <div class="w-2 h-2 rounded-full bg-(--color-poniente) mt-[0.5rem] mr-2"></div>
                        <span class="font-titan font-bold md:text-fluid-body">{% trans "3-4 horas en 5 días" %}</span>
                    </div>
                    <p class="
                        font-titan
                        font-bold text-xl md:text-fluid-body">
                        990€<span class="text-(--color-trece) text-xs font-titan font-bold md:text-fluid-body">{% trans "/persona" %}</span>
                    </p>
                </div>
                <a href="{% url 'contact' %}" class="
                    font-titan
                    font-bold
                    text-white
                    border
                    bg-(--color-luz)
                    rounded-xl
                    p-5
                    block
                    w-fit
                    mx-auto
                    transition
                    delay-100
                    duration-200
                    ease-in-out
                    hover:-translate-y-1
                    hover:scale-105

                    md:text-fluid-body
                    ">{% trans "RESERVAR EXPERIENCIA" %}
                </a>
            </div>
        </div>
</article>
