{% load static %}
{% load i18n %}

<section class="
    p-5 bg-(--color-mar)
    text-xs
    justify-center

    md:text-sm">

    <ul class="flex justify-center mb-5 md:justify-center">
        <li>
            <a href="https://www.instagram.com/explore/locations/49608182887/aventura-ecuestre-tarifa/"><img src="{% static 'main/images/icons/instagram.svg' %}" alt="{% trans "Síguenos en Instagram" %}" class="h-8 w-auto"></a>
        </li>
        <li>
            <a href="https://www.facebook.com/Beachridingholidays"><img src="{% static 'main/images/icons/facebook.svg' %}" alt="{% trans "Síguenos en Facebook" %}" class="h-8 w-auto"></a>
        </li>
    </ul>

    <ul class="flex mb-2 gap-x-10 justify-center flex-wrap">
        <li class="mb-1">
            <a href="{% url 'aviso' %}" class="text-(--color-cal) hover:text-(--color-oceano)">{% trans "Aviso legal" %}</a>
        </li>
        <li class="mb-1">
            <a href="{% url 'privacidad' %}" class="text-(--color-cal) hover:text-(--color-oceano)">{% trans "Política de privacidad" %}</a>
        </li>
        <li class="mb-1">
            <a href="{% url 'cookies' %}" class="text-(--color-cal) hover:text-(--color-oceano)">{% trans "Política de cookies" %}</a>
        </li>
    </ul>
    <hr class="text-(--color-cal) mb-2">
    <p class="text-(--color-cal)">{% blocktrans %}Copyright 2026 © All Right Reserved Aventura Ecuestre Tarifa. Hecho con mucho ♥️ por irenemendoza.dev{% endblocktrans %}</p>

</section>