{% load static %}

<section class="
    p-8 bg-(--color-mar)
    justify-center 
    ">
    <ul class="flex mb-8 gap-x-10 justify-center flex-wrap">
        <li class="mb-2">
            <a href="{% url 'aviso' %}" class="text-(--color-cal) hover:text-(--color-oceano)">Aviso legal</a>
        </li>
        <li class="mb-2">
            <a href="" class="text-(--color-cal) hover:text-(--color-oceano)">Política de privacidad</a>
        </li>
        <li class="mb-2">
            <a href="" class="text-(--color-cal) hover:text-(--color-oceano)">Política de cookies</a>
        </li>
        <li class="mb-2">
            <a href="" class="text-(--color-cal) hover:text-(--color-oceano)">Declaración de accesibilidad</a>
        </li>
    </ul>
    <hr class="text-(--color-cal) mb-4">
    <p class="text-(--color-cal)">Copyright 2026 © All Right Reserved Aventura Ecuestre Tarifa. Hecho con mucho ♥️ por irenemendoza.dev</p>
    
</section>