<!-- Menú: oculto en mobile, horizontal en desktop -->

    <ul id="menu" class="
        flex-col items-center justify-center gap-10
        fixed inset-0 z-40
        bg-black/70 backdrop-blur-sm
    

        md:flex md:static md:h-auto md:w-auto md:flex-row md:items-center md:justify-end
        md:bg-transparent md:backdrop-blur-none
        md:px-4 md:py-0"
    
        style="display: none">

        <li>
            <a href="{% url 'home' %}" class="text-(--color-cal) transition-colors duration-200 font-titan font-bold hover:text-white lg:text-[1.2vw]">INICIO</a>
        </li>
        <li>
            <a href="{% url 'about' %}" class="text-(--color-cal)  transition-colors duration-200 font-titan font-bold hover:text-white lg:text-[1.2vw]">QUIÉNES SOMOS</a>
        </li>
        <li>
            <a href="{% url 'activities' %}" class="text-(--color-cal)  transition-colors duration-200 font-titan font-bold hover:text-white lg:text-[1.2vw]">ACTIVIDADES</a>
        </li>
        <li>
            <a href="{% url 'contact' %}"  class="text-(--color-cal)  transition-colors duration-200 font-titan font-bold hover:text-white lg:text-[1.2vw]">CONTACTO</a>
        </li>
    </ul>

