{% extends 'main/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Rutas a caballo en Tarifa | Actividades que encuentras en Aventura Ecuestre" %}{% endblock %}
{% block meta_description %}{% trans "Elige entre las distintas rutas a caballo por las playas y montañas de Tarifa. Para todos los niveles, guiadas por expertos en doma natural, tenemos la experiencia perfecta para ti." %}{% endblock %}
{% block canonical %}https://aventuraecuestre.com/actividades/{% endblock %}
{% block og_title %}{% trans "Aventura Ecuestre - Las mejores rutas a caballo en Tarifa" %}{% endblock %}
{% block og_description %}{% trans "Hemos diseñado las mejores rutas para una experiencia inovidable" %}{% endblock %}
{% block og_url %}https://aventuraecuestre.com/actividades/{% endblock %}
{% block content %}
    <header class="
        bg-(--color-mar)
        p-5">
        <nav class="
            text-(--color-oceano)
            mb-4

            md:text-fluid-heading
            md:mb-10

            lg:mb-15">
            {% trans "INICIO" %}  &gt;  {% trans "ACTIVIDADES" %}
        </nav>
        <h1 class="font-cormorantgaramond
            text-(--color-cal)
            text-[12vw]/[13vw]
            mb-7

            md:mb-5
            md:text-[5.5vw]/[6vw]

            lg:mb-15">
            {% blocktrans %}Elige tu <i><b class="
                text-(--color-luz)

                ">aventura a caballo
            </b></i>{% endblocktrans %}
        </h1>
        <div class="">
            <p class="
                text-(--color-cal)
                mb-5

                md:text-fluid-body
                md:mb-10">
                {% blocktrans %}Hemos diseñado diferentes rutas para adaptarnos a tus deseos y nivel de experiencia. Todos nuestros servicios incluyen guía experta, equipo de seguridad y un caballo asignado específicamente para ti.{% endblocktrans %}
            </p>
            <div class="
                font-titan
                p-5 mb-5
                bg-(--color-cielo)
                w-full
                rounded-tl-3xl
                rounded-br-3xl


                ">
                <div class="
                    mb-5

                    md:mb-0
                    md:text-fluid-body
                    md:grid
                    md:grid-cols-2
                    md:w-[80%]
                    md:mx-auto
                    gap-5">
                    <div class="
                        text-center
                        mb-5">
                        <h4 class="
                            text-(--color-cal)
                            text-sg
                            mb-1
                            ">
                            {% trans "Incluido" %}
                        </h4>
                        <p class="
                            text-(--color-cal)
                            text-lg
                            font-bold
                            ">
                            {% trans "Guía · Casco" %}
                        </p>
                    </div>
                    <div class="text-center mb-5">
                        <h4 class="
                            text-(--color-cal)
                            text-sg
                            mb-1
                            ">
                            {% trans "Idiomas" %}
                        </h4>
                        <p class="
                            text-(--color-cal)
                            text-lg
                            font-bold
                            ">{% trans "Español · English" %}
                        </p>
                    </div>
                    <div class="text-center mb-5">
                        <h4 class="
                            text-(--color-cal)
                            text-sg
                            mb-1
                            ">{% trans "Grupos" %}
                        </h4>
                        <p class="
                            text-(--color-cal)
                            text-lg
                            font-bold">{% trans "Máximo 8 personas" %}
                        </p>
                    </div>
                    <div class="text-center">
                        <h4 class="
                            text-(--color-cal)
                            text-sg
                            mb-1">
                            {% trans "Cancelación" %}
                        </h4>
                        <p class="
                            text-(--color-cal)
                            text-lg
                            font-bold">
                            {% trans "Gratuita 24h antes" %}
                        </p>
                    </div>
                </div>
                <hr class="
                    text-(--color-cal)
                    w-[95%]
                    mx-auto
                    mb-5">
                <p class="
                    text-(--color-cal)
                    mx-auto

                    md:w-[90%]
                    md:text-fluid-body
                    ">
                    {% blocktrans %}Cabalgar no es un juego — requiere cierta predisposición, equilibrio y capacidad de reacción. Por eso, los aires más rápidos como <b>trote</b> y <b>galope</b> siempre se harán con seguridad bajo la supervisión y las indicaciones del guía. Tu seguridad y la de los animales siempre van primero.{% endblocktrans %}
                </p>
            </div>
        </div>
    </header>

    <section class="
        bg-(--color-cal)
        p-5"
        id="rutas">
        <div class="flex flex-col">
            <div class="flex flex-row gap-2 items-center mb-4">
                <span class="
                    text-(--color-oceano)
                    text-cormorantgaramond
                    text-6xl

                    md:text-fluid-hero">01
                </span>
                <h2 class="
                    text-(--color-tierra)
                    text-cormorantgaramond
                    text-xl

                    md:text-fluid-heading">{% trans "RUTAS ECUESTRES" %}
                </h2>
            </div>

            <p class="mb-5

                md:text-fluid-body">
                {% blocktrans %}Desde la emoción de la costa atlántica hasta la serenidad del bosque mediterráneo — tenemos la aventura perfecta esperándote.{% endblocktrans %}
            </p>
        </div>
        <div class="swiper" id="rutas-carousel">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {% include 'main/partials/rutas/card-ruta1.html' %}
                </div>
                <div class="swiper-slide">
                    {% include 'main/partials/rutas/card-ruta2.html' %}
                </div>
                <div class="swiper-slide">
                    {% include 'main/partials/rutas/card-ruta3.html' %}
                </div>
                <div class="swiper-slide">
                    {% include 'main/partials/rutas/card-ruta4.html' %}
                </div>
                <div class="swiper-slide">
                    {% include 'main/partials/rutas/card-ruta5.html' %}
                </div>
            </div>
            <div class="swiper-pagination" id="rutas-pagination"></div>
        </div>

    </section>

    <section class="
        bg-(--color-arena)
        p-5"
        id="packs">
        <div class="flex flex-col">
            <div class="flex flex-row gap-2 items-center mb-4">
                <span class="
                    text-(--color-oceano)
                    text-cormorantgaramond
                    text-6xl

                    md:text-fluid-hero">02
                </span>
                <h2 class="
                    text-(--color-tierra)
                    text-cormorantgaramond
                    text-xl


                    md:text-fluid-heading">{% trans "PACKS VACACIONALES" %}
                </h2>
            </div>
            <p class="mb-5

                md:text-fluid-body">
                {% blocktrans %}Para jinetes que quieren vivir Tarifa a caballo durante varios días. Elige tu ritmo.{% endblocktrans %}
            </p>
        </div>
        <div class="swiper" id="packs-carousel">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {% include 'main/partials/packs/card-pack1.html' %}
                </div>
                <div class="swiper-slide">
                    {% include 'main/partials/packs/card-pack2.html' %}
                </div>
            </div>
            <div class="swiper-pagination" id="packs-pagination"></div>
        </div>


    </section>
    <section class="
        bg-(--color-cal)
        p-5 pb-0"
        id="pupilaje">
        <div class="flex flex-row gap-2 items-center mb-4">
            <span class="
                text-(--color-oceano)
                text-cormorantgaramond
                text-6xl

                md:text-fluid-hero">03
            </span>
            <h2 class="
                text-(--color-tierra)
                text-cormorantgaramond
                text-xl

                md:text-fluid-heading">{% trans "SERVICIO ESPECIALIZADO" %}
            </h2>
        </div>
        <article class="
            border border-transparent
            rounded-xl
            overflow-hidden
            bg-white
            mb-5

            lg:flex
            lg:items-center">
            <img src="{% static 'main/images/pupilaje.jpg' %}" alt="{% trans "Caballo pastando" %}" class="
                h-80
                object-cover w-full
                object-bottom
                mb-4

                md:h-120
                md:mb-0

                lg:object-contain">
            <div class="p-5">
                <h3 class="
                    font-titan font-bold
                    text-(--color-tierra) text-4xl
                    mb-5
                    inline-block

                    md:mb-10
                    ">{% trans "SERVICIO DE PUPILAJE" %}
                </h3>
                <p class="
                    text-(--color-trece)
                    mb-4

                    md:text-fluid-body">{% trans "El lugar ideal para ti y tu caballo. Paddocks individuales con sombra, siempre acompañado y con espacio para moverse." %}
                </p>
                <ul class="mb-5
                    md:text-fluid-body">
                    <li class="mb-2 flex items-start">
                        <div class="w-2 h-2 rounded-full bg-(--color-oceano) mt-2 mr-2 shrink-0"></div>
                        <p>{% trans "Alquiler del espacio individual" %}</p>
                    </li>
                    <li class="mb-2 flex items-start">
                        <div class="w-2 h-2 rounded-full bg-(--color-oceano) mt-2 mr-2 shrink-0"></div>
                        <p>{% trans "Limpieza diaria y agua continua" %}</p>
                    </li>
                    <li class="mb-2 flex items-start">
                        <div class="w-2 h-2 rounded-full bg-(--color-oceano) mt-2 mr-2 shrink-0"></div>
                        <p>{% trans "Dos pistas de entrenamiento — circular y de grandes dimensiones" %}</p>
                    </li>
                    <li class="mb-2 flex items-start">
                        <div class="w-2 h-2 rounded-full bg-(--color-oceano) mt-2 mr-2 shrink-0"></div>
                        <p>{% trans "Hospedamos a tu caballo durante tus vacaciones" %}</p>
                    </li>
                </ul>
                <p class="
                    text-(--color-trece)
                    italic
                    mb-5

                    md:text-fluid-body
                    md:mb-10">
                    {% trans "Pregúntanos sin compromiso — adaptamos el servicio a tus necesidades." %}
                </p>
                <a href="{% url 'contact' %}"
                    class="
                    font-titan
                    font-bold
                    text-white
                    border
                    bg-(--color-oceano)
                    rounded-xl
                    p-5
                    block
                    w-fit
                    mx-auto
                    transition
                    delay-100
                    duration-200
                    ease-in-out
                    hover:-translate-y-1
                    hover:scale-105

                    md:text-fluid-body">
                    {% trans "CONSULTAR DISPONIBILIDAD" %}
                </a>
            </div>
        </article>
    </section>


{% endblock %}
