{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Aventura Ecuestre - Home{% endblock %}

{% block content %}
    <section class="
    relative 
    w-full
    h-full
    h-min-950
    flex flex-col justify-bottom
    overflow-y-hidden
    
    ">
        <!-- Imagen de fondo -->
        <img id="hero-image"
            src="{% static 'main/images/aventura_ecuestre_hero_about.jpg' %}" 
            alt="" 
            class=" 
                inset-0 
                w-full 
                h-full 
                object-cover 
                object-[80%_center]
                              
                md:object-content
                md:object-[50% center]"
        >
        
        <!-- Texto sobre la imagen -->
        <h1 class="
            font-titan font-bold text-[11vw]
            inline-block
            w-[0.5vw]
            text-(--color-luz)
            z-10
            p-5
            absolute

            md:text-[11vw]/[9vw]
            ">AVENTURA ECUESTRE
        </h1>
        <div id="content_hero" class="
            z-10 p-5      
            bg-white/50
            
            
            md:mx-5
            md:h-fit
            md:p-[2vw] 
            md:self-start
            md:absolute
            md:bottom-5
            md:rounded-xl">
            
            <h2 class="
                text-center
                text-(--color-tierra) text-5xl font-cormorantgaramond font-bold

                md:inline
                md:leading-tight
                "
                >
                <span class="
                block

                md:text-[5vw]/[4vw]
                md:text-left
                ">Cabalga libre </span><span class="md:text-[5vw]">en la <strong class="text-(--color-arena) md:text-[5vw]">Costa de la Luz</strong></span>
            </h2>
            <p class="
                py-5
                text-center text-(--color-tierra)

                md:text-xl
                md:text-left
                ">Paseos a caballo por las playas más salvajes de Andalucía,<br>con vistas al continente africano.</p>
            <div id="hero_buttons" class="
                text-center
                flex
                flex-col
                gap-2

                md:text-left
                md:flex-row md:items-center md:gap-7
                ">
                <a href="{% url 'contact' %}" class="
                    font-titan
                    font-bold
                    text-white
                    border
                    bg-(--color-luz)
                    rounded-xl
                    p-5
                    transition
                    delay-100 
                    duration-200 
                    ease-in-out 
                    hover:-translate-y-1 
                    hover:scale-105
                    
                    md:text-xl">RESERVAR EXPERIENCIA</a>
                <a href="{% url 'activities' %}" class="
                    font-titan
                    font-bold
                    text-white
                    border
                    bg-(--color-mar)
                    rounded-xl
                    p-5
                    transition
                    delay-100 
                    duration-200 
                    ease-in-out 
                    hover:-translate-y-1 
                    hover:scale-105
                    
                    md:text-xl"
                    >VER ACTIVIDADES</a>
            </div>
        </div>
    </section>
    <section class="
        mb-10
        md:grid grid-cols-3
        md:gap-0.5
        ">
        <div id="cta1" class="
            bg-(--color-cielo)
            p-5
            mb-1
            ">
            <p class="
                text-(--color-cal)
                text-2xl
                text-center">+13</p>
            <p class="
            text-(--color-cal) text-xs
            font-light
            text-center
            ">AÑOS DE EXPERIENCIA</p>          
        </div>
        <div id="cta2" class="
            bg-(--color-cielo)
            p-5
            mb-1">
            <p class="
                text-(--color-cal)
                text-2xl
                text-center">
                Doma natural</p>
            <p class="
                text-(--color-cal) 
                text-xs
                text-center">
                BIENESTAR ANIMAL</p>
               
        </div>
        <div id="cta3" class="
            bg-(--color-cielo)
            p-5
            mb-1
            ">
            <p class="
                text-(--color-cal)
                text-2xl
                text-center">Todos los niveles</p>
            <p class="
                text-(--color-cal) 
                text-xs
                text-center">
                SIN EXPERIENCIA PREVIA</p>
        </div>
    </section>
    <section class="
        p-5
        ">
        <h2 class="
            text-2xl text-(--color-mar)
            
            md:text-3xl
            md:mb-10"
            >NUESTRAS RUTAS</h2>
        <h3 class="
            mb-5
            
            md:text-xl
            md:mb-10">
            Elige tu aventura:
        </h3>
        <div class="
            md:grid md:grid-cols-3 md:gap-4">
            <article class="
                rounded-xl
                overflow-hidden
                mb-5
                bg-white
                ">
                <img src="{% static 'main/images/rutasEcuestres.jpg' %}" alt="Caballos paseando por la playa" class="
                    h-60
                    w-full
                    object-cover

                    md:h-100">
                <div class="p-5">
                    <div class="
                        flex
                        items-center
                        justify-between
                        mb-5">
                        <h4 class="
                            text-lg
                            
                            md:text-2xl">
                            Rutas ecuestres
                        </h4>
                        <span class="
                            p-2
                            border border-(--color-poniente)
                            bg-(--color-poniente)
                            text-xs text-white
                            inline-block
                            text-titan
                            font-bold
                    
                            md:text-lg">
                            MÁS POPULAR
                        </span>
                    </div>
                    
                    <p class="
                        mb-4
                        text-(--color-tierra)

                        md:text-xl
                        ">
                        Diseñadas para todos las edades y niveles.<br>La experiencia más demandada. 
                    </p>
                    <a href="{% url 'activities' %}#rutas" class="md:text-lg">
                        [Ver más]
                    </a>
                </div>
            </article>
            <article class="
                rounded-xl
                overflow-hidden
                mb-5
                bg-white
                ">
                <img src="{% static 'main/images/atardecer.jpg' %}" alt="Caballos paseando por el pinar" class="
                        h-60
                        w-full
                        object-cover

                        md:h-100">
                <div class="p-5">
                    <div class="
                    flex 
                    items-center 
                    justify-between
                    mb-5">
                        <h4 class="
                            text-lg
                            
                            md:text-2xl">
                            Packs Vacacionales
                        </h4>
                        <span class="p-2
                            border border-(--color-poniente)
                            bg-(--color-poniente)
                            text-xs text-white
                            inline-block
                            text-titan
                            font-bold
                    
                            md:text-lg
                        ">NATURALEZA
                        </span>
                    </div>
                    
                    <p class="
                        mb-4
                        text-(--color-tierra)

                        text-xl
                        ">
                        Senderos sombreados por el Parque Natural del Estrecho. 
                    </p>
                    <a href="{% url 'activities' %}#packs" class="md:text-lg">
                        [Ver más]
                    </a>
                </div>
                
            </article>
            <article class="
                rounded-xl
                overflow-hidden
                bg-white
                mb-2 pb-3
                ">
                <img src="{% static 'main/images/pupilaje.png' %}" alt="" class="
                    h-60
                    w-full
                    object-cover

                md:h-100">
                <div class="p-5">
                    <div class="
                    flex
                    items-center
                    justify-between
                    mb-5">
                        <h4 class="
                            text-lg
                            
                            md:text-2xl">
                            Pupilaje
                        </h4>
                        <span class="
                            p-2
                            border border-(--color-poniente)
                            bg-(--color-poniente)
                            text-xs text-white
                            inline-block
                            text-titan
                            font-bold
                    
                            md:text-lg">
                        EXCLUSIVO
                        </span>
                    </div>
                    
                    <p class="
                        mb-4
                        text-(--color-tierra)

                        md:text-xl
                        ">
                        El lugar perfecto para ti y tu caballo. Paddocks individuales con sombra, siempre acompañado y con espacio para moverse. 
                    </p>
                    <a href="{% url 'activities' %}#pupilaje" class="md:text-lg">
                        [Ver más]
                        </a>
                </div>
            </article>
        </div>
        
    </section>
    
    <section class="
        bg-(--color-arena)
        rounded-xl
        m-5 p-5">
        <p class="
            font-cormorantgaramond font-italic
            text-xl
            text-center
            text-(--color-tierra)
            mb-4

            md:text-3xl md:text-center
            ">
            "Nuestros caballos viven libres en el campo. Creemos en el vínculo real, no en la doma forzada."</p>
        <p class="
            text-sm text-(--color-tierra) text-center

            ">FILOSOFÍA · DOMA NATURAL · BIENESTAR ANIMAL</p>
    </section>
{% endblock %}
