{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Aventura Ecuestre - Home{% endblock %}

{% block content %}
    <section class="
    w-full
    h-full
    h-min-950
    flex flex-col justify-bottom
    overflow-y-hidden
    
    md:flex-row
    ">
        <!-- Imagen de fondo -->
        <img id="hero-image"
            src="{% static 'main/images/homeHero.jpg' %}" 
            alt="Carolina con sus caballos Trece y Levante" 
            class=" 
                inset-0 
                w-full 
                h-full 
                object-cover 
                object-[80%_center]
                              
                md:object-cover
                md:object-[50%_center]
                md:w-[60%]
                md:h-auto"
        >
        <div class="
            bg-mar
            md:flex
            md:flex-col
            md:justify-around
            md:overflow-x-hidden
            md:align-center
            ">
            <!-- Texto sobre la imagen -->
        <h1 class="
            font-titan font-bold text-[15vw]/[16vw]
            text-center
            w-full
            text-(--color-luz)
            z-10
            p-5

            md:text-[6.5vw]/[7vw]

            ">AVENTURA ECUESTRE
        </h1>
        <div id="content_hero" class="
            z-10 p-5      
            bg-white/50
            rounded-xl
            mx-5
            mb-5

            md:h-fit
            md:p-[2vw] 
            md:mb-5
            md:overflow-hidden
            ">
            
            <h2 class="
                text-center
                text-(--color-tierra) text-[9vw]/[10vw] font-cormorantgaramond font-bold

                md:text-[3.5vw]/[4vw]
                md:leading-tight
                md:text-left

                lg:text-[3.5vw]/[4vw]
                "
                >
                <span class="
                block

            
                ">Cabalga libre </span><span>en la <b class="text-(--color-arena) text-center">Costa de la Luz</b></span>
            </h2>
            <p class="
                py-5
                text-center text-(--color-tierra)

                md:text-fluid-body
                md:text-left
                ">Paseos a caballo por las playas más salvajes de Andalucía, con vistas al continente africano.</p>
            <div id="hero_buttons" class="
                text-center
                flex
                flex-col
                gap-2

                md:text-left
                md:gap-3
                lg:flex-row lg:items-center lg:gap-7
                ">
                <a href="{% url 'contact' %}" class="
                    font-titan
                    font-bold
                    text-white
                    border
                    bg-(--color-luz)
                    rounded-xl
                    p-5
                    transition
                    delay-100 
                    duration-200 
                    ease-in-out 
                    hover:-translate-y-1 
                    hover:scale-105
                    
                    md:text-fluid-body
                    md:text-center">RESERVAR EXPERIENCIA</a>
                <a href="{% url 'activities' %}" class="
                    font-titan
                    font-bold
                    text-white
                    border
                    bg-(--color-mar)
                    rounded-xl
                    p-5
                    transition
                    delay-100 
                    duration-200 
                    ease-in-out 
                    hover:-translate-y-1 
                    hover:scale-105
                    
                    md:text-fluid-body
                    md:text-center"
                    >VER ACTIVIDADES</a>
            </div>
        </div>
        </div>
        
    </section>
    <section class="
        mb-10
        md:grid grid-cols-3
        md:gap-0.5
        ">
        <div id="cta1" class="
            bg-(--color-cielo)
            p-5
            mb-1
            ">
            <p class="
                text-(--color-cal)
                text-2xl
                text-center">+13</p>
            <p class="
            text-(--color-cal) text-xs
            font-light
            text-center
            ">AÑOS DE EXPERIENCIA</p>          
        </div>
        <div id="cta2" class="
            bg-(--color-cielo)
            p-5
            mb-1">
            <p class="
                text-(--color-cal)
                text-2xl
                text-center">
                Doma natural</p>
            <p class="
                text-(--color-cal) 
                text-xs
                text-center">
                BIENESTAR ANIMAL</p>
               
        </div>
        <div id="cta3" class="
            bg-(--color-cielo)
            p-5
            mb-1
            ">
            <p class="
                text-(--color-cal)
                text-2xl
                text-center">Todos los niveles</p>
            <p class="
                text-(--color-cal) 
                text-xs
                text-center">
                SIN EXPERIENCIA PREVIA</p>
        </div>
    </section>
    <section class="
        p-5
        ">
        <h2 class="
            text-2xl text-(--color-mar)
            mb-5
            
            md:text-fluid-heading
            md:mb-10"
            >NUESTRAS RUTAS</h2>
        
        <div class="
            md:grid md:grid-cols-3 md:gap-4">
            <article class="
                rounded-xl
                overflow-hidden
                mb-5
                bg-white
                flex flex-col
                ">
                <div class="relative">
                    <img src="{% static 'main/images/rutasEcuestres.jpg' %}" alt="Jinete y caballo paseando por la playa durante el atardecer" class="
                    h-60
                    w-full
                    object-cover

                    md:h-100">
                    <span class="
                        absolute
                        top-0
                        p-2
                        border border-(--color-poniente)
                        bg-(--color-poniente)
                        text-xs text-white
                        inline-block
                        text-titan
                        font-bold
                    
                        md:text-fluid-body">
                        MÁS POPULAR
                    </span>
                </div>
                <div class="p-5 flex flex-col grow">
                    <h4 class="
                        mb-5
                        text-lg

                        md:text-fluid-heading">
                        Rutas ecuestres
                    </h4>
                    <p class="
                        mb-4
                        text-(--color-tierra)

                        md:text-fluid-body
                        ">
                        Diseñadas para todos las edades y niveles. La experiencia más demandada.
                    </p>
                    <a href="{% url 'activities' %}#rutas" class="ml-auto mt-auto text-fluid-mini hover:text-mar">
                        <i>Ver más</i>
                    </a>
                </div>
            </article>
            <article class="
                rounded-xl
                overflow-hidden
                mb-5
                bg-white
                flex flex-col
                ">
                <div class="relative">
                    <img src="{% static 'main/images/atardecer.jpg' %}" alt="Jinete abrazada al caballo observando el atardecer" class="
                        h-60
                        w-full
                        object-cover

                        md:h-100">
                    <span class="
                        absolute
                        top-0
                        p-2
                        border border-(--color-poniente)
                        bg-(--color-poniente)
                        text-xs text-white
                        inline-block
                        text-titan
                        font-bold
                    
                        md:text-fluid-body
                        ">NATURALEZA
                    </span>
                </div>
                
                <div class="p-5 flex flex-col grow">
                    <h4 class="
                        text-lg
                        mb-5

                        md:text-fluid-heading">
                        Packs Vacacionales
                    </h4>
                    <p class="
                        mb-4
                        text-(--color-tierra)

                        md:text-fluid-body
                        ">
                        Senderos sombreados por el Parque Natural del Estrecho.
                    </p>
                    <a href="{% url 'activities' %}#packs" class="ml-auto mt-auto text-fluid-mini hover:text-mar">
                        <i>Ver más</i>
                    </a>
                </div>
                
            </article>
            <article class="
                rounded-xl
                overflow-hidden
                bg-white
                mb-5
                flex flex-col
                ">
                <div class="relative">
                    <img src="{% static 'main/images/paddock.jpg' %}" alt="Caballo tumbado en el prado" class="
                        h-60
                        w-full
                        object-cover
                        object-left

                        md:h-100">
                    <span class="
                        absolute
                        top-0
                        p-2
                        border border-(--color-poniente)
                        bg-(--color-poniente)
                        text-xs text-white
                        inline-block
                        text-titan
                        font-bold
                    
                        md:text-fluid-body">
                        EXCLUSIVO
                    </span>
                </div>
                
                <div class="p-5 flex flex-col grow">
                    <h4 class="
                        text-lg
                        mb-5

                        md:text-fluid-heading">
                        Pupilaje
                    </h4>
                    <p class="
                        mb-4
                        text-(--color-tierra)

                        md:text-fluid-body
                        ">
                        El lugar perfecto para ti y tu caballo. Paddocks individuales con sombra, siempre acompañado y con espacio para moverse.
                    </p>
                    <a href="{% url 'activities' %}#pupilaje" class="ml-auto mt-auto text-fluid-mini hover:text-mar">
                        <i>Ver más</i>
                    </a>
                </div>
            </article>
        </div>
        
    </section>
    
    <section class="
        bg-(--color-arena)
        rounded-xl
        m-5 p-5">
        <p class="
            font-cormorantgaramond font-italic
            text-xl
            text-center
            text-(--color-tierra)
            mb-4

            md:text-fluid-heading md:text-center
            ">
            "Nuestros caballos viven libres en el campo. Creemos en el vínculo real, no en la doma forzada."</p>
        <p class="
            text-sm text-(--color-tierra) text-center

            ">FILOSOFÍA · DOMA NATURAL · BIENESTAR ANIMAL</p>
    </section>
{% endblock %}
